@import "../../scss/variables.scss";
@import "../../scss/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); 



.header_container{
    
    height: inherit;
    width: 100vw;

    header{
        display: flex;
        margin: 0 $spacing;
        align-items: center;
        height: inherit;
    
       .logoFont {
           flex: 50px;
       }
    
        .textDiv{
            flex: 4;
            display: flex;
            justify-content: space-between;
    
            div:first-child{
                position: relative;
    
                span{
                    position: absolute;
                    color: white;
                    font-weight: 100;
                    right: 0.4rem;
                    top: 5px;
                    width: fit-content;
                    cursor: pointer;
                    transform: scale(0.7);
                }
            }
            
            ul{
                list-style-type: none;
                display: flex;
                width: 35rem;
                justify-content: space-between;
                position: relative;
                top: 3px;
                color: whitesmoke;
    
                li{
                    display: flex;
                }
    
                li:last-child{
                    margin-right: $spacing;
                }
            }
    
            div{
                img{
                    height: 25px;
                    width: 25px;
                    right: 0;
                    position: relative;
                }
            }
        }
    }
}

h1{
   font-family: $logoFont;
   color: whitesmoke;
   font-weight: 200;
}

.textMediumDiv{

    position: relative;

    div:first-child{

        position: relative;

        span{
           position: absolute;
            left: -9.5rem;
            top: 0.25rem;
            transform: scale(0.7);
        }
    }

    div{
        input{
            position: absolute;
            right: 12rem;
            top: 3px;
        }

        img{
            position: relative;
            margin-left: $spacing;
            width: 20px;
            height: 20px;
            top: 2px;
        }
    }

    div:last-child{
        position: relative;
        top: 5px;

        img{
            position: relative;
            top: -0.3px;
            
        }
    }
}

.lens, .search, .menu, .close, .down{
    color: whitesmoke;
}


.textSmallDiv{
    div{
        img{
            width: 20px;
            height: 20px;
            position: relative;
            bottom: 0.4px;
            margin-left: $Mspacing;
        }
    }
}



/***********************MEDIA QUERY************************************/


@media (max-width: 1276px){

    .header_container{
        .textDiv{
            div{
              ul{
                  width: 25rem;
      
              }
            }
        }
    }

  
}


@media (max-width: 1052px){

    .header_container{
        .textDiv{
            div:first-child{
             input{
              right: 3rem;
             }
      
             span{
                 left: 15rem;
             }
            }
        }
    }
   
}

@media (max-width: 1052px){

    .header_container{
       header{
           margin: 0 $Mspacing;
       }
    }
   
}