@import "../../scss/variables.scss";
@import "../../scss/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


.header{
    background-color: $mainColor;
    height: 60px;
}

.language{
    color: $mainColor;
}